<!DOCTYPE html>
<html class="homepage-background" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Passport</title>
  </head>
  <body class="index-body">
    <%- include('./partials/_navbar.ejs') %>
    <div class="container-centered">
      <div class="main-header">
        <h1>Passport.</h1>
      </div>
      <div class="subheader">
        <h2>Your digital passport application.</h2>
      </div>
    </div>
  </body>
</html>
