@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
body {
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: hsl(13, 58%, 75%);
}

.index-body {
  background-image: url("https://plus.unsplash.com/premium_photo-1679046108642-fc43a07eba5e?q=80&w=2532&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  color: white;
}

.main-header {
  font-weight: bold;
  color: white;
  font-size: 3.8em;
  margin: -80px 20px 0 20px;
}

.subheader {
  margin: 0 20px 0 20px;
  font-size: 1em;
}

.sub2header {
  margin: 0 20px 0 20px;
  font-size: 1em;
}

.auth-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 80px 0 0;
  height: 100%;
}

.signup-link,
.signin-link {
  text-decoration: none;
  font-size: 1.5em;
  padding: 8px 0;
  border-radius: 25px;
  width: 10em;
  text-align: center;
}

.signup-link {
  background-color: #3a972f;
  color: white;
  margin: 0 0 20px 0;
}

.signup-link:hover {
  background-color: #3a972f;
}

.signin-link {
  background-color: #f6e7e7;
  color: #31333b;
  margin: 20px 0 0 0;
}

.signin-link:hover {
  background-color: #ffffff;
}

.signin-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  color: #ffffff;
}

.auth-form {
  margin-left: 24px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20em;
  background-color: #f6e7e7;
  padding: 30px 40px 20px 40px;
  border-radius: 20px;
  color: #31333b;
  font-weight: bold;
  margin-left: 24px;
  margin-bottom: 24px;
}

form label {
  margin-top: 8px;
}

.country-container,
.user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f6e7e7;
  padding: 8px 16px;
  text-decoration: none;
  margin-top: 8px;
  width: 16em;
  border-radius: 20px;
  color: #31333b;
  font-weight: bold;
  transition: 0.25s ease-in-out;
}

.country-container:hover {
  background-color: rgb(240, 71, 113);
  color: white;
  padding: 12px 20px;
}

.user-container:hover {
  background-color: rgb(240, 71, 113);
  color: white;
  padding: 12px 20px;
}

input {
  border: 1px solid rgb(182, 182, 182);
  padding: 8px;
  border-radius: 10px;
}

button {
  padding: 10px;
  background-color: #3a972f;
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}

.country-detail,
.user-country-list {
  display: flex;
  align-items: center;
  justify-content: start;
}

.all-countries-body,
.all-users-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 30px;
  background-image: url("https://plus.unsplash.com/premium_photo-1679046108642-fc43a07eba5e?q=80&w=2532&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.all-countries-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  width: 90%;
}

.add-countries-header > h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
}

.add-country-link {
  padding: 10px;
  background-color: #3a972f;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.1em;
  padding: 2px 25px;
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
  transition: 0.25s ease-in-out;
}

.back-button {
  background-color: #3a972f;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.1em;
  padding: 10px;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 16px;
  margin-right: auto;
  display: inline-block;
  transition: 0.25s ease-in-out;
  margin-left: 16px;
}

.add-country-link:hover {
  padding: 5px 28px;
  font-size: 1.2em;
}

.back-button:hover {
  padding: auto;
  font-size: 1.3em;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

ul > a {
  text-decoration: none;
  color: #31333b;
  width: 50%;
  background-color: #f6e7e7;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 15px 0;
  font-weight: bold;
  text-align: center;
}

ul > a:hover {
  background-color: #31333b;
  color: white;
}

ul li::marker {
  color: #31333b;
}

.new-body {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}

textarea,
select {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.edit-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 24px 24px;
  height: 100%;
}

.page-title {
  font-size: 2.8em;
  padding: 0 24px 0 0;
  color: #fff !important;
}
