@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: hsl(13, 58%, 75%);
}

.index-body {
  background-image: url("https://plus.unsplash.com/premium_photo-1679046108642-fc43a07eba5e?q=80&w=2532&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  color: white;
}

.main-header {
  font-weight: bold;
  color: white;
  font-size: 3.8em;
  margin: -80px 20px 0 20px;
}

.subheader {
  margin: 0 20px 0 20px;
  font-size: 1em;
}

.sub2header {
  margin: 0 20px 0 20px;
  font-size: 1em;
}

.auth-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 80px 0 0;
  height: 100%;
}

.signup-link,
.signin-link {
  text-decoration: none;
  font-size: 1.5em;
  padding: 8px 0;
  border-radius: 25px;
  width: 10em;
  text-align: center;
}

.signup-link {
  background-color: #3a972f;
  color: white;
  margin: 0 0 20px 0;
}

.signup-link:hover {
  background-color: #3a972f;
}

.signin-link {
  background-color: #f6e7e7;
  color: #31333b;
  margin: 20px 0 0 0;
}

.signin-link:hover {
  background-color: #ffffff;
}

.signin-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20em;
  height: 50%;
  background-color: #f6e7e7;
  padding: 30px 40px 20px 40px;
  border-radius: 20px;
  color: #31333b;
  font-weight: bold;
}

input {
  border: 1px solid rgb(182, 182, 182);
  padding: 8px;
  border-radius: 10px;
}

button {
  padding: 10px;
  background-color: #3a972f;
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}

.all-countries-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.all-countries-header {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  justify-content: space-between;
  padding: 10px 20px;
  width: 90%;
}

.add-countries-header > h1 {
  font-size: 3em;
}

.add-country-link {
  padding: 10px;
  background-color: #3a972f;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.1em;
  padding: 2px 25px;
  text-decoration: none;
}

.add-country-link:hover {
  background-color: #3a972f;
}

ul {
  list-style: none;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul > a {
  text-decoration: none;
  color: #31333b;
  width: 50%;
  background-color: #f6e7e7;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 15px 0;
  font-weight: bold;
  text-align: center;
}

ul > a:hover {
  background-color: #31333b;
  color: white;
}

ul li::marker {
  color: #31333b;
}

.new-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.new-body > form,
.edit-body > form {
  height: 70%;
}

textarea,
select {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  padding: 10px;
}

select {
  margin-bottom: 10px;
}

.edit-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
