<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Add Country</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a Country</h1>
    <form action="/users/<%= user._id %>/countries" method="POST">
      <label for="country">Country:</label>
      <input type="text" name="country" id="country" />

      <label for="date">Date:</label>
      <input type="text" name="date" id="date" value="(mm/dd/yyyy)" />

      <label for="pointOfEntry">Point of Entry (city):</label>
      <input type="text" name="pointOfEntry" id="pointOfEntry" />

      <label for="purpose">Purpose:</label>
      <select id="purpose" name="purpose">
        <option value="Leisure">Leisure</option>
        <option value="Business">Business</option>
        <option value="Education">Education</option>
        <option value="Other">Other</option>
      </select>

      <label for="notes">Notes:</label>
      <textarea name="notes" id="notes"></textarea>

      <label for="locationOfStay">Location of Stay (city):</label>
      <input type="text" name="locationOfStay" id="locationOfStay" />

      <button type="submit">Submit Country</button>
    </form>
  </body>
</html>
